body {
    overflow: hidden;
}

#container {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    flex-direction: row;
    background-color: #141414;
}

/* LEFT container */

#left-container {
    width: 65vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    position: relative;

    transition: width 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

video {
    align-self: flex-start;
    
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* RIGHT container */

#right-container {
    width: 35vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    flex-direction: column;

    transition: width 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 100;
}

#title-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;

    /* background-color: red; */
    width: 100%;
    height: 45vh;

    transition: height 1s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.4s cubic-bezier(0.18, 1.09, 0.83, 1.01);
}

#title {
    color: #e8e8e8;
    font-weight: bold;
    font-size: 41.15px;
}

#actions-top {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    
    /* background-color: rgb(25, 0, 255); */
    width: 100%;
    height: 45vh;


    transition: height 1s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.4s cubic-bezier(0.18, 1.09, 0.83, 1.01);
}

#actions-bottom {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    flex-direction: row;

    /* background-color: rgb(123, 255, 0); */
    width: 100%;
    height: 10vh;

    color: rgb(30, 30, 37);

    transition: height 1s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.4s cubic-bezier(0.18, 1.09, 0.83, 1.01);

    cursor: pointer;
}

#chat-now {
    width: 300px;
    height: 60px;

    color: white;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    font-weight: bold;
    font-size: 20px;

    margin-top: 20px;
    margin-bottom: 20px;

    background-image: -webkit-linear-gradient(-45deg, #033E8C, #03588C, #03738C);

    transition: transform .2s linear;
}

#view-chat {
    width: 300px;
    height: 60px;
        
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    font-weight: bold;
    font-size: 20px;

    background-color: rgb(30, 30, 37);

    overflow: hidden;

    transition: transform .2s linear;
}

#chat-now:hover {
    transform: scale(1.015);
}
#view-chat:hover {
    transform: scale(1.01);
}

#view-chat-text {
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;

    background-image: -webkit-linear-gradient(-45deg, #033E8C, #03588C, #03738C);

    filter: drop-shadow(0px 0px 40px #ffffff);
}

/* nuova chat */

#right-hidden-container {
    height: 100vh;
    width: 0;
    background-color: rgb(30, 30, 37);

    display: flex;
    align-self: flex-end;
    justify-self: flex-end;

    transition: width 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#right-hidden-container.newchat {
    width: calc(100vw - min(30vw, 300px));
}

#left-container.newchat {
    width: 0;
}

#right-container.newchat {
    width: min(30vw, 300px);
}


#title-logo.newchat {
    opacity: 0;
}

#actions-bottom.newchat {
    opacity: 0;
}

#actions-top.newchat {
    opacity: 0;
}

/* assisti a una chat */

#title-logo.assist {
    height: 0;
    overflow: hidden;
}

#actions-bottom.assist {
    height: 0;
    overflow: hidden;
}

#actions-top.assist {
    height: 100vh;
}






/* aaa */

#show-later {
    width: 30vw;
    max-width: 300px;
    height: 100vh;
    background-color: #141414;

    display: none;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;

    opacity: 0;
    transition: opacity 300ms linear;
}

#show-later.show {
    opacity: 1;
}

#chats-title {
    /* background-color: red; */
    width: calc(100% - 20px);
    font-weight: bolder;
    font-size: 38px;
    color: white;
    margin: 0 10px;

    margin-top: 10px;

    padding-bottom: 6px;
    /* margin-bottom: 5px; */
    /* border-bottom-style: solid;
    border-bottom-color: #dcdcdc1a;
    border-bottom-width: 2px; */
}

#left-container-top {
    width: 30vw;
    max-width: 300px;

    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

#chat-button-order {
    width: 30vw;
    max-width: 300px;

    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    position: relative;
}

#session-info {
    display: flex;
    justify-self: flex-end;
    align-items: start;
    flex-direction: column;

    color: #dcdcdc1a;

    margin: 0 10px;
    margin-bottom: 10px;
}

#session-info-id {
    user-select: text;
    margin-bottom: 6px;
}


#chat-button-order {
    width: 30vw;
    max-width: 300px;

    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    position: relative;
}

.chat-button {
    cursor: pointer;

    width: 100%;
    height: 80px;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;

    position: absolute;

    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.chat-button.active {
    background-color: rgb(30, 30, 37);
}

.chat-button-left {
    width: 80px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}


.chat-button-img {
    width: 60px;
    height: 60px;
    border-radius: 100vw;
}

.chat-button-right {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.chat-button-name {
    color: #dcdcdc;
    font-weight: bold;
    margin-bottom: 1px;
}

.chat-button-preview {
    color: #dcdcdc87;
}