body {
    overflow: hidden;
}

#container {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #141414;
}

/* LEFT container */

#left-container {
    width: 65vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    position: relative;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* RIGHT container */

#right-container {
    width: 35vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content:space-evenly;

    flex-direction: column;
}

    /* top */

#title-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;
}

#title {
    color: #e8e8e8;
    font-weight: bold;
    font-size: 41.15px;
}



    /* bottom */

#actions {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

}

#right-container-text {
    color: #dcdcdc;
    font-weight: bold;
    font-size: 28px;
    align-self: center;
}

#chat-now {
    width: 300px;
    height: 60px;

    color: white;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    font-weight: bold;
    font-size: 20px;

    margin-top: 20px;
    margin-bottom: 20px;

    background-image: -webkit-linear-gradient(-45deg, #033E8C, #03588C, #03738C);
}

#view-chat {
    width: 300px;
    height: 60px;
        
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    font-weight: bold;
    font-size: 20px;

    background-color: rgb(30, 30, 37);
}

#view-chat-text {
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;

    background-image: -webkit-linear-gradient(-45deg, #033E8C, #03588C, #03738C);

    /*filter: drop-shadow(2px 2px #ffffff26);*/
}